<!DOCTYPE html>
<html>
<head>
    <!-- template adapted from https://github.com/pallets/flask/blob/2.0.2/examples/tutorial/flaskr/templates/base.html -->
    <title>Minecraft Control Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <h1>MC Control Panel</h1>
    <ul>
        {% if g.user %}
            <li><span>User: {{ g.user["username"] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</body>
</html>